@import url('https://fonts.googleapis.com/css2?family=04b03&family=DotGothic16&family=IBM+Plex+Sans&family=Inter&family=Monogram&family=Pixelify+Sans&family=Press+Start+2P&family=Roboto&family=Silkscreen&family=Source+Sans+3&family=Tiny5&family=VT323&display=swap');


/* Clean Modern Fonts */

/* font-family: "Inter", sans-serif; */
/* font-family: "Roboto", sans-serif; */
/* font-family: "Century Gothic", sans-serif; */
/* font-family: "IBM Plex Sans", sans-serif; */
/* font-family: "Source Sans 3", sans-serif; */
/* font-family: Calibri, sans-serif; */
/* font-family: Arial, sans-serif; */


/* Clean Pixel Fonts */

/* font-family: "Pixelify Sans", sans-serif; */
/* font-family: "Silkscreen", sans-serif; */
/* font-family: "DotGothic16", sans-serif; */
/* font-family: "Tiny5", sans-serif; */
/* font-family: "VT323", monospace; */


/* Classic Game Fonts */

/* font-family: "Press Start 2P", monospace; */
/* font-family: "04b03", monospace; */
/* font-family: "Monogram", monospace; */


/* Main */

html,
body,
#root {
  min-height: 100%;
  background-color: #121212;
}

body {
  margin: 0;
  min-height: 100vh;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

/* Content */

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 48px 40px;
}

/* Styles all the navigation links */

.nav-link {
  color: #aaa;
  text-decoration: none;
}

.nav-link:hover {
  color: #99e8db;
}

.nav-link.active {
  color: #99e8db;
}

/* Links */

.link {
  color: #aaa;
  text-decoration: none;
}

.link:hover {
  color: #99e8db;
}
